MONGO_URI=mongodb://mindwell_user:mindwell_user@ac-5fzur2j-shard-00-00.ztumbig.mongodb.net:27017,ac-5fzur2j-shard-00-01.ztumbig.mongodb.net:27017,ac-5fzur2j-shard-00-02.ztumbig.mongodb.net:27017/mindwell?ssl=true&replicaSet=atlas-10xvz9-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=replace-with-a-long-random-string
ENCRYPTION_KEY=replace-with-a-long-random-secret
CLIENT_URL=http://localhost:5173
PORT=5000